.App {
  text-align: center;
}

body {
	background-image: url("https://wallsneedlove.com/cdn/shop/products/w0263_1s_Nautical-Waves-Wallpaper-for-Walls-Waves-of-Chic_Repeating-Pattern-Sample-1.jpg?v=1604091534");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Home img {
	max-width: 100%;
}

.Home {
}

a:link, a:visited {
	color: black;
	text-decoration: none;
	padding-right: 10px;
}

.Jokes {
}

Nav {
	padding-top: 5px;
	padding-bottom: 10px;
}

.Jokes {
	max-width: 35%;
	margin: auto;
	background-color: white;
	border: 2px black bold;
	border-style: dotted;
}

.button {
	border:none;
	background-color: lightblue;
}

@media(max-width:1050px) {
	.Jokes{
		max-width: 50%;
		margin: auto;
		background-color: white;
		border: 2px black bold;
		border-style: dotted;
	}
}
